<template>
<div class="">


<br/>
<br/>
<div class="row">
  <div class="col-md-5">
<h4>Deck Name</h4>  
<input type="text" v-model="deskname" class="form-control" />
  </div></div>
  <br/>
 <div class="row text-center">    

 

      <div class="col-lg-3 col-md-6 mb-4"  v-if="list.length > 0" v-for="(item,index) in list" :key="item">
        <div class="card h-100">
          <img class="card-img-top" height="300px" :src="item.url" alt="">
          <div class="card-footer">
             <input type="text" class="form-control"  :value="item.name" ref="imgname" placeholder="Please Enter Image Name" 
   @change="changeName($event,index)"
    
     />
          </div>
        </div>
      </div>

      

    
<!-- <div  class="card col-md-4" >
    <h2>{{item.name}}</h2>
  <img class="card-img-top" :src="item.url" alt="Card image">
  <div class="card-body">
    <input type="text" class="form-control"  :value="item.name" ref="imgname" placeholder="Please Enter Image Name" 
   @change="changeName($event.target.value,index)"
    
     />
  </div>
  </div> -->
 

</div>
<form id="form1">
<input type="file" ref="file" class="btn -btn-default "   id="uploadImg" @change="uploadFile"/>
</form>
{{currentList}}
<button class="btn btn-success btnCreatDesk" @click="createDeck">Create Deck</button>
</div>
</template>
<script>
import axios from 'axios';
import $ from 'jquery';
export default {
    name : 'deck',
    data(){
        return {
        list : [],
        currentList :'',
        message : ''
      
        
        }
    },



    methods :{

    createDeck :  function(){
   
      let data = {
        deskname : this.deskname,
        list : this.list
      }

axios.post('http://localhost:5000/api/images' ,data,{
  headers :{

    'Content-Type': 'application/json',

  }
})
.then(res => {
  
  if(res){
    console.log('data uploaded successfully');
  }
}).catch(err => {
  
console.log(err)
})

    }, 
changeName : function(event,itemIndex){


this.list.map((items,index) => {
  if(itemIndex === index){

delete this.list[index].name ;
this.list[index].name = event.target.value

  }

})
       


            


        },
        uploadFile : function(){
             let lists = this.list;
             var formData = new FormData();
        
      formData.append("image", this.$refs.file.files[0]);
   var apiUrl = 'https://api.imgur.com/3/image';



  var settings = {
        async: false,
        crossDomain: true,
        processData: false,
        contentType: false,
        type: 'POST',
        url: apiUrl,
        headers: {
          Authorization: 'Client-ID ' +'ed48e776da111de',
          Accept: 'application/json'
        },
        mimeType: 'multipart/form-data'
      };

      settings.data = formData;

      // Response contains stringified JSON
      // Image URL available at response.data.link
      $.ajax(settings).done(function(response) {
          JSON.parse(response)
         let url =  JSON.parse(response);
         let res = url.data
        let imgLink = res.link
        console.log(imgLink)


            let ki = {
                url : imgLink,
                name : ""
            }
        lists.push(ki)
         console.log(lists)
        
      });

      document.getElementById('uploadImg').value= '';

    }

    }
}
</script>
<style>
.btnCreatDesk{
  float: right;
  bottom: 25px;
}
</style>

