<template>
<div class="container"> 
<Header/>

  
  <h2> Welcome to App </h2>
  
  <div v-if="error">{{errorMsg}}</div>
     <Decks/>
  
  </div>
</template>
<script>
import  Header from './Header.vue';
import  PlayDeck from './PlayDeck.vue';
import Decks from './Decks.vue';
import firebase from 'firebase';



export default {
    name : 'home',
    components : {
        Header,
        Decks,
        PlayDeck
        
    
    },

    data(){
        return{

        error : false,
        errorMsg : ''

        }
    },
    methods : {
      
    }
}
</script>

