<template>
<div class="container"> 
<Header/>

  <br/>
  <br/>
  <br/>
  <h2> Welcome to Deck Game </h2>
  
  <div v-if="error">{{errorMsg}}</div>
        <div class="row">
           
            <div class="col-lg-4 col-md-6 mb-4" v-for="items in decks" :key="items">
      <router-link :to="{name : 'playdeck',params:{cardName : items._id}}">     
        
        <div class="contains">
            <img :src="items.Images[0].url" width="100%" class="pull-left"/>
         <div class="centered"><button class="btn btn-suucess">{{items.length}}</button></div>
    
          </div>
           </router-link>
        </div>
     
        
        
      </div>
      <div class="row">
               <div class="col-lg-4 col-md-6 mb-4">
      <router-link to="/home">     
        
        <div class="contains">
            <img src="https://www.gstatic.com/webp/gallery/1.jpg" width="100%" class="pull-left"/>
         <div class="centered"> Create New Deck</div>
    
          </div>
           </router-link>
        </div>
          </div>


  
  </div>
</template>
<script>
import  Header from './Header.vue';
import  PlayDeck from './PlayDeck.vue';

import firebase from 'firebase';
import Axios from 'axios';



export default {
    name : 'landing',
    components : {
        Header,
        PlayDeck
        
    
    },

    data(){
        return{
        decks : [
        
        ],
        error : false,
        errorMsg : ''

        }
    },
    methods : {
      created : function(){
          alert('hi')
          Axios.get('http://localhost:5000/api/images')
          .then(res =>{
              console.log(res)
          }).catch(err => {
              console.log(err);
          })
      }
    },
    mounted : function(){
          Axios.get('http://localhost:5000/api/images')
          .then(res =>{
              console.log(res)
              this.decks = res.data
          }).catch(err => {
              console.log(err);
          })
      }
}
</script>
<style>
.contains {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom right text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
