<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3 class="login">Login</h3>
        <div
          v-if="error"
          class="alert alert-danger"
          role="alert"
        >Login User name or password is incorrect</div>

        <input type="text" v-model="email" class="form-control" placeholder="Email" />
        <br />
        <input type="password" v-model="password" class="form-control" placeholder="Password" />
        <br />
        <button class="btn btn-success form-control" @click="login">Login</button>
        <p>
          You don't have an account ? You can
          <router-link to="/sign-up">create one</router-link>
        </p>
      </div>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
export default {
  name: "login",
  data() {
    return {
      email: "",
      password: "",
      error: false,
      errMsg: ""
    };
  },
  methods: {
    login: function() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(user => {
          if (user) {
            this.$router.replace("/showdeck");
          }
        })
        .catch(err => {
          this.error = true;
          this.errMsg = err.message;
        });
    }
  }
};
</script>
<style scoped>
.login {
  margin-top: 40px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

button {
  margin-top: 20px;
  cursor: pointer;
}
p {
  margin-top: 40px;
  font-size: 13px;
}
p a {
  text-decoration: underline;
}
</style>

