<template>
  <div class="container">
    <Header />

    <br />
    <br />
    <br />
    <h2>Welcome to App</h2>
    <div class="text-center container-fluid">
      <div v-if="list.length > count" class="row gameBoard">
        <div class="col-md-4 offset-md-4">
          <div class="card">
            <img
              class="card-img-top"
              height="300px"
              :src="list[count].url"
              alt="image"
            />
            <div class="card-footer">
              <input
                type="text"
                class="form-control"
                v-model="inputimg"
                ref="imgname"
                placeholder="Please Enter Image Name"
              />
            </div>
          </div>
          <br />
          <button class="btn btn-success" @click="addNext">Next</button>
        </div>
        <div class="col-md-2 offset-md-2" style="border-left : 1px solid black">
          <h5>Score board</h5>
          correct : {{ correct }} Total : {{ list.length }}
        </div>
      </div>

      <div v-if="list.length <= count" class="row">
        <div class="col-md-4 offset-md-4">
          <h2>Score</h2>
          correct : {{ correct }} Total : {{ list.length }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Axios from 'axios';
import Header from './Header.vue';
export default {
  name: 'playdeck',
  components: {
    Header
  },
  data() {
    return {
      list: [],
      currentList: {},
      count: 0,
      correct: 0
    };
  },
  methods: {
    addNext: function() {
      this.count++;
      let enterValue = this.inputimg;
      if (this.list[this.count - 1].name === enterValue.toLowerCase()) {
        this.correct++;
        this.inputimg = '';
      }
    }
  },
  mounted: function() {
    Axios.get(`http://localhost:5000/api/images/${this.$route.params.cardName}`)
      .then(res => {
        console.log('hello', res.data.Images);
        let data = res.data;
        this.list = data.Images;
      })
      .catch(err => {
        console.log(err);
      });
  }
};
</script>

<style>
.gameBoard {
  box-shadow: 4px 5px 5px 9px rgba(181, 181, 181, 0.4);
  border-radius: 10px;
  padding: 20px;
}
</style>
