<template>
     <div class="sign-up">
       <div class="container">
       <div class="row">
         <div class="col-md-8 offset-md-2">
     <div v-if="error" class="alert alert-danger" role="alert">
            {{errorMsg}}
</div>  
  <div v-if="created" class="alert alert-success" role="alert">
            Account created successfully. Please click on login to sing in 
</div>  
    <p>Let's create a new account !</p>
    <input type="text" class="form-control" v-model="email" placeholder="Email"><br>
    <input type="password" v-model="password" class="form-control" placeholder="Password"><br>
    <button class="form-control btn btn-primary" @click="signUp">Sign Up</button>
    <span>or go back to <router-link to="/login">login</router-link>.</span>
  </div>
  </div>
  </div>
  </div>
</template>
<script>
import firebase from 'firebase';

export default {
    name : 'Sign-Up',
    data(){
      return {
        email : '',
        password : '',
        created : false,
        error : false,
        errorMsg : ''
      }
    },
    methods : {
      signUp : function(){
        firebase.auth().createUserWithEmailAndPassword(this.email,  this.password).then(res => {
          if(res){
          firebase.auth().signOut();
          this.created = true;
          this.error = false;

          }
        }).catch(err => {
          this.created = false;
          this.error = true;
          this.errorMsg = err.message;
        })
        
      }
    }
}
</script>
<style scope>
  .sign-up {
    margin-top: 40px;
  }
  input {
    margin: 10px 0;
  
    padding: 15px;
  }
  button {
    margin-top: 10px;
 
    cursor: pointer;
  }
  span {
    display: block;
    margin-top: 20px;
    font-size: 11px;
  }

</style>

