<template>
<div>
<router-view/>
</div>
</template>

<script>
export default {
  name: 'app',
  data(){
    return {
      todo : [
        {id : 1,
        name : 'to do list'
        },
          {id : 2,
        name : 'to do list 2'
        },
        
        ]
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
